body {
    background-color: aqua;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
  }  
  h4, h2 {
    font-weight: bolder;
  }
  #header{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: beige;
    margin: 5px;
  }
  div {
    margin: 5px;
    text-align: center;
    padding: 5px;
  }
  .skills li {
    font-weight: 300;
  }
  .me {
    border-radius: 50%;
  }
    #about {
      background-color: beige;
       font-weight: 300;
    }
    #offers {
      background-color: beige;
    }
  footer {
    background-color: black;
    margin: 5px;
    color: beige;
  }
.social-icons {
    display: flex;
    align-items: center;
    background: black;
    justify-content: center;
  }
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
  }
  .social-icons a:hover {
    color: #007bff;
  } 