/*
----------------------------------------------------------------UNIVERSAL----------------------------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
  color: beige;
  font-size: 22px;
}

/*
----------------------------------------------------------------HEADER----------------------------------------------------------------
*/

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photo_2023-02-27_00-00-43.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size:150% ;
}

.h-container {
  position: absolute;
  top: 60%;
  left: 30%;
}

nav {
  float: right;
  margin-top: 3%;
  margin-right: 5%;
}

nav ul li{
  display: inline-block;
  color:beige;
  margin-left: 30px;
}

nav ul li:link,
nav ul li:visited{
  color:beige;
  transition: border-bottom 0.5s;
  border-bottom: 2px solid transparent;
}
nav ul li:hover,
nav ul li:active{
  color:rgb(202, 41, 41);
  border-bottom: 2px solid rgb(202, 41, 41);
}

nav ul li a {
  text-decoration: none;
  color: beige;
  font-size: larger;
}