/*
color: #c8362e ;
*/

*{
box-sizing:border-box;
padding:0;
margin:0;
}
*:focus {
    outline: none;
}
body,
html {
    font-size: 18px;
    color: #141414;
    font-family: cursive;

}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0 , 0, 0, 0.38)), url(img/hero.webp);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}
.header__box {
     color: #fff;
     position: absolute; 
     top: 40%; 
     left: 50%; 
     transform: translate(-50%, -50%); 
}
.header__box__text {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 30px 0 20px 0;
}
.center__nav li,
.nav__right div{
    display: inline-block;
}
.center__nav {margin-top: 30px;}
.nav__right {margin-top: 10px;}
.nav__left {margin-top: 5px;}
.center__nav li a:link,
.center__nav li a:visited {
    text-decoration: none;
    color: #000;
    font-size: 90%;
    transition: all 0.4s;
}
.center__nav li a:hover,
.center__nav li a:active {
    color: #c8362e;
}
.center__nav li {
    margin-left: 18px;
}

.nav__right div {
    margin-left: 15px;
    font-weight: 500;
}
.nav__right div a {
    text-decoration: none;
    text-transform: uppercase;
}

.btn-full:link,
.btn-full:visited {
    border: 2px solid #c8362e;
    color: #fff;
    transition: all 0.4s;
    border-radius: 20px;
    padding: 10px;
    background-color: #c8362e;
}
.btn-full:hover,
.btn-full:active {
    background-color: #ad160e;
    color: #dadada;
}
.btn-ghost:link,
.btn-ghost:active {
    color: #000;
    transition: all 0.4s;
}
.btn-ghost:hover,
.btn-ghost:visited {
    color: #c8362e;
}
.header__box__btn {
    margin-top: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header__box__btn a:hover,
.header__box__btn a:active{
    background-color: #ad160e;
    color: #dadada;
}
.btn:link, 
.btn:visited {
    border: 2px solid #c8362e;
    text-decoration: none;
    color: #fff;
    transition: all 0.4s;
    border-radius: 20px;
    font-size: 150%;
    padding: 10px;
    font-weight: bold;
    background-color: #c8362e;
}

section {
    padding:0 30px 0 30px;
}




/*   ---------------- SETUP FOR H2 ELEMENTS ---------------- */
.about-us__header__heading::after,
.popular-meals__header::after,
.how-it-works__header::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color:  #c8362e;
    display: block;
    margin: 20px 0 0 0;
}
/*----------------------------------------------------------------*/


.how-it-works__header,
.about-us__header {padding: 30px;}

.how-it-works__steps {
    display: flex;
    justify-content: center;
}
.how-it-works__steps div {padding: 30px;}
.how-it-works__steps__btn {margin: 13px 0 25px 0;}
.how-it-works__steps__btn a {text-decoration: none;}

#about-us {
    background-color: #c4bbbb;   
}
.about-us__header {
    padding: 30px;
}

.about-us__text {
    padding: 50px;
    font-size: 120%;
    line-height: 40px;
}
.about-us__features {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.about-us__features__header1,
.about-us__features__header2,
.about-us__features__header3,
.about-us__features__header4 {
    display: flex;
    justify-content: center;
}
.about-us__features__1,
.about-us__features__2,
.about-us__features__3,
.about-us__features__4 {
    padding: 20px;
}

#popular-meals {
    padding: 0 200px 30px 200px;
}
.popular-meals__header {
    padding: 30px;
    margin-bottom: 20px;
}
figure img {
    width: 100%;
    height: auto;
    display: block;
    transform: scale(1.15);
    opacity: 0.65;
    transition: all 0.5s;
}
figure img:hover {
    opacity: 1;
    transform: scale(1.35);
}
.popular-meals__maels {
    list-style: none;
    display: flex;
}
.popular-meals__maels li {
    overflow: hidden
}
.popular-meals__meals-1 {
    display: flex;
}
.popular-meals__meals-1 li {
    overflow: hidden;
}