@media only screen and (max-width: 1200px){
    .header__box__text {padding: 100px;}
    .header__box__text h1 {padding: 0 150px;}
    .header__box__text p {margin-top: 50px;padding: 0 200px;}
    .header__box__btn {margin-top: 50px;}
    .how-it-works__steps {padding: 0 180px;}
    .how-it-works__step1 p,
    .how-it-works__step3 p,
    .how-it-works__step2 p {padding: 0 10px;}
    .how-it-works__step2 {margin: 0 30px;}
    #popular-meals {padding: 0 110px;}
    .plans__prices__premium, 
    .plans__prices__vip,
    .plans__prices__starter{padding: 0 20px}
    .our-cities__cities {padding: 0 30px;}
    .our-cities__cities__ph img,
    .our-cities__cities__lag img,
    .our-cities__cities__benin img,
    .our-cities__cities__abuja img {padding: 20px;}
    .our-cities__cities__ph__text,
    .our-cities__cities__lag__text,
    .our-cities__cities__benin__text,
    .our-cities__cities__abuja__text {padding: 0 0 0 20px;}
    blockquote {padding: 10px 25px;}
    form {width: 40%;}
    .sign-up__header p {padding: 10px 200px;}
    input[type=submit] {margin-top: 15px}
    .about-us__feature__2 {padding: 0 70px;}
    .ig-photos__photos li figure img {width: 90px; height: 90px; transform: scale(1.25);}
}

@media only screen and (max-width: 1023px){
    .header__box__text {
        padding: 70px;
    }
    .center__nav a {
    margin-left: 10px;
    }
    .nav__right div {
    margin-left: 8px;
    }
    .plans__prices__starter {
         padding: 0 0 0 40px;
    }
    .plan__prices__starter__header p{
        margin-bottom: 12.5%;
    }
    .header__box__text {padding: 70px;}
    .header__box__text h1 {padding: 0 100px;}
    .how-it-works__steps {
        padding: 0 90px;
    }
    .how-it-works__step1 p,
    .how-it-works__step2 p,
    .how-it-works__step3 p{
        padding: 0;}
    .header__box__text p {padding: 0 150px;}
    .our-cities__cities {padding: 0 10px;}
    .our-cities__cities__ph img,
    .our-cities__cities__lag img,
    .our-cities__cities__benin img,
    .our-cities__cities__abuja img {padding: 10; width: 200px}
    .about-us__feature__2,
    .about-us__feature__3{
        padding: 0 50px;
    }
    .about-us__feature__1,
    .about-us__feature__4{
        padding: 0;
/*        flex-grow: 1*/
    }
    .ig-photos__photos li figure img {
    width: 60px;
    height: 60px;
    margin-right: 18px;
}
}


/*
@media only screen and (max-width: 767px){
    
}*/
