/*
color: #c8362e ;
*/

*{
box-sizing:border-box;
padding:0;
margin:0;
}
*:focus {
    outline: none;
}
body,
html {
    font-size: 18px;
    color: #141414;
    font-family: cursive;

}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0 , 0, 0, 0.56)), url(img/hero.webp);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}
.header__box {
     color: #fff;
     position: absolute; 
     top: 40%; 
     left: 50%; 
     transform: translate(-50%, -50%); 
}
.header__box__text {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}
/*
nav {
    margin: 20px 30px 0 0;
    float: right;
}
nav li {
    display: inline-block;
    list-style: none;
    margin-left: 18px;
    text-transform:uppercase;
    font-size: 20px;
}
nav li a {
    text-decoration: none;
    color: #fff;
}
*/

.header__box__btn {
    margin-top: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header__box__btn a:hover,
.header__box__btn a:active{
    background-color: #ad160e;
    color: #dadada;
}
.btn:link, 
.btn:visited {
    border: 2px solid #c8362e;
    text-decoration: none;
    color: #fff;
    transition: color 0.4s, background-color 0.4s;
    border-radius: 20px;
    font-size: 150%;
    padding: 10px;
    font-weight: bold;
    background-color: #c8362e;
}

section {
    padding:0 30px 0 30px;
}

.about-us__header {
    padding: 30px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    line-height: 40px;
}


/*   ---------------- SETUP FOR H2 ELEMENTS ---------------- */
.about-us__header__heading::after,
.popular-meals__header::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color:  #c8362e;
    display: block;
    margin: 20px 0;
}
/*----------------------------------------------------------------*/


.about-us__text {
    padding: 30px;
}
.about-us__features {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.about-us__features__header1,
.about-us__features__header2,
.about-us__features__header3,
.about-us__features__header4 {
    display: flex;
    justify-content: center;
}
.about-us__features__1,
.about-us__features__2,
.about-us__features__3,
.about-us__features__4 {
    padding: 20px;
}

#popular-meals {
    background-color: #c4bbbb;
    padding: 0 200px 30px 200px;
    overflow: hidden;
}
.popular-meals__header {
    padding: 30px;
    margin-bottom: 20px;
}
figure img {
    width: 100%;
    height: auto;
    display: block;
    transform: scale(1.15);
    opacity: 0.7;
    transition: all 1s;
}
figure img:hover {
    opacity: 1;
    transform: scale(1.35);
}
.popular-meals__maels {
    list-style: none;
    display: flex;
}