*{
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:0;
margin:0;
}
*:focus {
    outline: none;
}
body {
    font-size: 19px;
/*    padding: 0 180px;*/
}
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0 330px;
}