*{
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:0;
margin:0;
}
*:focus {
    outline: none;
}
body {
    font-size: 19px;
/*    padding: 0 180px;*/
    color: #fff;
}
header {
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 330px;
}
nav a:link,
nav a:visited {
    text-decoration: none;
    color: #fff;
    transition: all 0.4s;
}
nav a:hover,
nav a:active {
    color: #cccccc;
}
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 50px 100px;
    margin: auto;
}
.header__content__logo {
    margin: auto;
}
.header__content__text {
/*    padding: 20px 200px;*/
    margin-top: 25px;
}
.header__content__text p {
    padding: 0 255px;
    line-height: 1.5em
}
#our-approach {
    background-color: white;
    color: black;
    display: flex;
    padding: 50px 255px;
    margin: auto;
}
.our-approach__text h2 {
    margin-bottom: 20px;
}
/*
.our-approach__text {
    padding:0 0 0 150px;
}
.our-approach__text p {
    padding-right: 150px;
}*/
#expertise {
    background-color: black;
    padding: 50px 255px;
}
.expertise__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 auto 150px auto;  
}
.expertise__header img {
    margin: 20px 0;
/*    width: 10%;*/
}
.expertise__head__img:before {
    content: "";
    height: 1px;
    width: 482px;
    background-color: #cccccc;
    display: inline-block;
    margin-right: 18px;
}
.expertise__head__img:after {
    content: "";
    height: 1px;
    width: 482px;
    background-color: #cccccc;
    display: inline-block;
    margin-left: 18px;
}
.expertise__body__head__description {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 200px;
}
.expertise__body__content {
    display: flex;
    justify-content: center;
}
.expertise__body__content div {
    padding:0 70px;
}
.expertise__body__content ul {
    list-style: none;
    line-height: 1.5em;
}
.expertise__body__content div p {
    margin-bottom: 20px;
    font-weight: bold;
}
